/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


div#elementor-tab-content-1732, div#elementor-tab-content-1733 {
    height: 390px;
    overflow-y: scroll;
}
/* .home .mec-event-list-standard .mec-event-article:nth-child(n+8) {
    display: none !important;
} */
.birthday-list {
    padding-right: 1rem;
}
div#elementor-tab-content-1732, div#elementor-tab-content-1733 {
    overflow-y: auto;
}
header .mobile-menu ul.pp-advanced-menu a {
    line-height: 1 !important;
}
header .mobile-menu ul.pp-advanced-menu a:focus, header .mobile-menu ul.pp-advanced-menu a:hover {
    line-height: 1 !important;
}
body.page-template-all-upcoming .title-row, body.page-template-all-people .title-row {
    display: block;
}
body.page-template-all-upcoming .col-1, body.page-template-all-people .col-1 {
    width: 50%;
    display: inline-block;
}
body.page-template-all-upcoming .col-2, body.page-template-all-people .col-2 {
    width: 50%;
    display: inline-block;
    float: right;
    padding-top: 24px;
}
body.page-template-all-upcoming .back-btn, body.page-template-all-people .back-btn {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .04em;
    padding: 12px 18px;
    background-color: #4d4d4d;
    border-radius: 50px;
    color: #fff;
    float: right;
}
body.page-template-all-upcoming .back-btn:hover, body.page-template-all-people .back-btn:hover {
    background-color: #f7964d;
}
.task-list-table tr {
    display: flex;
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.task-list-table tr:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}
.task-list-table tr td {
    text-align: left;
    padding: 0 !important;
}

/*.page-template-all-upcoming .task-list-table tr td.left,.page-template-all-people .task-list-table tr td.left  {
    width: 30%;
}
.page-template-all-upcoming .task-list-table tr td.left, .page-template-all-people .task-list-table tr td.left {
    min-width: 102px;
}*/
body.page-template-all-upcoming .task-list-table, body.page-template-all-people .task-list-table {
    padding: 50px;
}
body.page-template-all-upcoming .title-row, body.page-template-all-people .title-row {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
body.page-template-all-upcoming .whole-thing, body.page-template-all-people .whole-thing {
    background-color: #F7F3E7 !important;
    max-width: 1600px;
    box-shadow: 5px 7px 25px -2px rgba(0, 0, 0, 0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 12px 12px 12px 18px;
    /* padding: 50px 50px 50px 50px; */
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
}
body.page-template-all-upcoming .task-list-table tr td.right, body.page-template-all-people .task-list-table tr td.right {
    margin-left: 110px;
}
.task-list-table tr td.left {
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em;
    display: flex;
    align-items: center;
    min-width: 108px;
    vertical-align: top;
    position: absolute;
    margin-top: 2px;
}
.task-list-table tr td.right {
    padding-left: 16px !important;
    vertical-align: top;
    margin-left: 104px;
}
.task-list-table tr td.right a:hover h5 {
    color: #f7964d;
}
.task-list-table tr td:last-child p:first-child {
    margin-top: 0;
    margin-bottom: 5px;
}
.task-list-table tr td:last-child h5 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 1.2;
}
.task-list-table .deadline {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0px;
}
.task-list-table tr td:first-child div {
    padding: 8px 10px;
    border-radius: 30px;
    width: 95%;
    text-align: center;
}
.yellowstatus {
    background-color: #f7964d;
}
.redstatus {
    background-color: #f4654e;
}
.greenstatus {
    background-color: #78b986;
}
.graystatus {
    background-color: #cdc9bf;
}

.button {
      padding: 6px 8px;
    border-radius: 30px;
    text-align: center;
    color: white;
    width:200px;
}

.white-bg {
    box-shadow: 5px 7px 25px -2px rgba(0, 0, 0, 0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 12px 12px 12px 18px;
    padding: 50px 50px 50px 50px; background-color: white;
}
.blue-bg {
        box-shadow: 5px 7px 25px -2px rgba(0, 0, 0, 0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 12px 12px 12px 18px;
    background-color: #78B9B5;
    padding: 50px 50px 50px 50px;
}

@media only screen and (max-width: 1640px) {

body.page-template-all-upcoming .container, body.page-template-all-people .container {
    padding-left: 2%;
    padding-right: 2%;
}
}


@media only screen and (max-width: 1280px) {
.task-list-table tr td.right {
    margin-left: 86px;
}
body.page-template-all-upcoming .task-list-table tr td.right, body.page-template-all-people .task-list-table tr td.right {
    margin-left: 86px;
}
body.page-template-all-upcoming .task-list-table, body.page-template-all-people .task-list-table {
    padding: 28px;
}
.task-list-table tr td:first-child div {
    padding: 6px 8px;
}
.task-list-table tr td.left {
    min-width: 86px;
    font-size: 10px;
}   
.task-list-table tr td:last-child h5 {
    font-size: 14px;
    letter-spacing: 0;
}
.task-list-table .deadline {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
}
}


@media only screen and (max-width: 767px) {
body.page-template-all-upcoming .col-1, body.page-template-all-people .col-1 {
    width: 100%;
}
body.page-template-all-upcoming .col-2, body.page-template-all-people .col-2 {
    display: none;
}
body.page-template-all-upcoming .container, body.page-template-all-people .container {
    padding-left: 18px;
    padding-right: 18px;
}
.task-list-table.upcoming-table, .task-list-table.people-table {
    width: 100%;
}
}